:root {
    /* Fonts */
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;

    /* Text colors */
    --main-txt-cl: #212121;
    --light-txt-cl: #ffffff;
    --accent-txt-cl: #2196F3;

    /* Background colors */
    --main-bg-cl:

    /* Others */
    
}
/* Шапка для обох сторінок */
.page {
    font-size: 14px;
    line-height: calc(24 / 14)
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    font-family: Roboto, sans-serif;
}

.logo-title {
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: calc(31 / 26);
}
.header .link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    color: currentColor;
}

.header .link:hover,
.header .link:focus {
    color: var(--accent-txt-cl);
}


.header .link-info {
    color: #757575;
}
.header .link-tel:hover,
.header .link-tel:focus {
    color: var(--accent-txt-cl);
}

